.grad-background{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -10;
    animation-duration: 10s;
    animation-name: example;
    animation-iteration-count: infinite;
}
.mainbody{
    margin-top: 10%;
}
input{
    font-size: 2em !important;
}
@keyframes example {
    0%   {background-color:#fb9730;}
    50% {background-color: #6A1B9A;}
    100% {background-color: #fb9730;}
  }




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}